<section class="form-wrapper">
    @if (!isCreateTaskFormOpen()) {
    <button class="add-task-btn" (click)="isCreateTaskFormOpen.set(true)">Add a Task</button>
    } @else {
    <form class="create-task-form" (submit)="submitTask($event)">
        <input type="text" placeholder="Enter task title..." class="task-input-title" [formField]="createTaskForm.title" />
        <span>
            {{ createTaskForm.title().errors()?.[0]?.message }}
        </span>
        <textarea type="text" placeholder="Enter task description..." class="task-input-desc" rows="1"
            [formField]="createTaskForm.description"></textarea>
        <span>
            {{ createTaskForm.description().errors()?.[0]?.message }}
        </span>
        <section class="form-actions">
            <button type="submit" class="submit-btn" [disabled]="createTaskForm.title().invalid() || createTaskForm.description().invalid()">
                Submit
            </button>
            <button type="button" class="cancel-btn" (click)="isCreateTaskFormOpen.set(false)">
                Cancel
            </button>
        </section>
    </form>
    }
</section>
