@let board = kanbanService.board();

<section class="board-container">
    @if (!kanbanService.isLoaded()) {
        <div class="loading-spinner">
            Connecting to Go backend, loading workspace...
        </div>
    } @else {
        <h1 class="board-title">
            {{ board?.title }}
        </h1>

        <!-- 1. Enforce a broad drop-list grouping boundary across all columns -->
        <div class="columns-wrapper" cdkDropListGroup>
            @for (column of board?.columns; track column.id) {
                <div class="column-card">
                    <h2 class="column-title">
                        {{ column.title }}
                    </h2>

                    @if ($index === 0) {
                        <app-create-task [columnId]="column.id" />
                    }

                    <!-- 2. Turn this container into a registered list drop zone -->
                    <div class="tasks-list" cdkDropList [id]="column.id" [cdkDropListData]="column.tasks" (cdkDropListDropped)="onCardDropped($event)">
                        @for (task of column.tasks; track task.id) {
                            <!-- 3. Mark each separate item container as an independently draggable card node -->
                            <div class="task-item" cdkDrag>
                                <h3 class="task-title">
                                    {{ task.title }}
                                </h3>
                                <p class="task-desc">
                                    {{ task.description }}
                                </p>

                                <!-- 4. Structural preview placeholder shadow that displays where a card will land during sorting animations -->
                                 <div class="task-placeholder" *cdkDragPlaceholder></div>
                            </div>
                        }
                        @empty {
                            <div class="empty-column-msg">
                                No tasks here yet. Drop cards here!
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</section>